@tailwind base;
@tailwind components;
@tailwind utilities;

.header-clipping {
	position: relative;
	height: 600px;
}

.header-clipping::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: #2e37a4;
	width: 100%;
	height: 100%;
	clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}

.header-clipping .sunshine {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 515px;
	height: 85%;
	opacity: 0.8;
	clip-path: polygon(46% 0%, 82% 0%, 67% 100%, 0% 100%);
	background: transparent linear-gradient(130deg, #3d47bd 0%, #2e37a4 50%);
}

.header-clipping .container {
	position: relative;
	z-index: 3;
}

.item {
	position: relative;
}

.item figure.item-image svg.icon-play {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	transform-origin: bottom;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 0.2 ease;
}

.item figure.item-image svg.icon-play circle {
	fill: #fe721c;
}

.item:hover figure.item-image svg.icon-play {
	opacity: 1;
}
